.background {
  background-color: black;
}

.border_collapse {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}

.border {
  border: 1px solid black;
  text-align: center;
  padding: 5px;
}

tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
  color: black;
}

tbody tr:nth-child(even) {
  background-color: #d3d3d3;
  color: black;
}
